<footer>
    <a data-toggle="tooltip" data-placement="left" title="Click to view design" (click)="onClickLink('figma')"
        href="figmaDesignURL" target="_blank" s>Designed</a> and
    <a (click)="onClickLink('github')" href="linkGitHubURL" target="_blank" data-toggle="tooltip" data-placement="right"
        title="Click to view code">Coded</a> with
    <fa-icon class="fa-heart" [icon]="['fas', 'heart']"></fa-icon>
    <br> by
    <a data-toggle="tooltip" data-placement="right" title="Click to view my profile" (click)="onClickLink('linkedin')"
        href="linkedInURL" target="_blank">Lami
        Genius</a>
</footer>