<div class="container-fluid">
    <div class="row">
        <div class="col-10 heading offset-md-1">
            Game rules
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 offset-sm-0 offset-md-1">
            <a data-toggle="tooltip" data-placement="right" title="Click to read detailed rules"
                href="https://en.wikipedia.org/wiki/Rock_paper_scissors" target="_blank">
                <img class="img img-fluid" [src]="rulesImgLink" alt="Rules">
            </a>
        </div>
        <div class="col-lg-4 mb-4">
            <ol class="list-group bg-white rounded" style="margin-bottom: 90px;">
                <details *ngFor="let rule of rulesText; let i=index;">
                    <summary data-toggle="tooltip" data-placement="right" title="Click to view rule details">
                        <li class="list-group-item list-group-item-light">
                            {{(i + 1)}}. {{ rule.brief }}</li>
                    </summary>
                    <p class="{{rule.color}}">
                        {{rule.fullDesc}}
                    </p>
                </details>
            </ol>
        </div>
    </div>
</div>