.img-fluid {
  height: 95%;
}

li {
  font-size: 2.5em;
  color: black;
}

details summary {
  cursor: pointer;
}

details summary {
  display: inline;
  width: 100%;
  border-radius: 5px;
  height: fit-content;
}

details > p {
  font-size: 2em;
  font-family: Roboto, sans-serif;
}

.green {
  background-color: #3d8116;
}

.red {
  background-color: #81200e;
}

.blue {
  background-color: #133280;
}

@media (max-width: 700px) {
  details summary {
    font-size: 0.5em;
  }

  details > p {
    font-size: 0.9em;
  }
}
