<div class="container-fluid">
    <div class="row justify-content--xs-center ">
        <div class="col-sm-5 col-12 heading ">
            Game On
        </div>
        <div class="col-sm-4 col-12 my-4" [hidden]="numGamesLeft > 0">
            <span class="alert alert-success" data-dismiss="alert" aria-label="Close"><strong>{{strongMsg}}</strong>{{
                endGameMsg }}
            </span> <button (click)="restartGame($event)" class="btn btn-info mt-2">Restart?</button>
        </div>
        <div class="col-sm-4 col-12 my-4" [hidden]="numGamesLeft == 0">
            <span class="alert alert-warning" data-dismiss="alert" aria-label="Close">{{
                endGameMsg }}
            </span>
        </div>
    </div>
    <div class=" row">
        <div class="col-md-3 offset-md-1 col-3">
            <div class="row">
                <div class="col-12">
                    <span>Com's Score</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <rpsLG-score #comScore [numWins]=comScore.getWins() [numLosses]=comScore.getLosses()>
                    </rpsLG-score>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-3  mx-md-2 mx-2">
            # Played <rpsLG-num-games [gameCount]="numGamesPlayed"></rpsLG-num-games>

        </div>
        <div class="col-md-3 col-2 mx-md-2">
            # Left <rpsLG-num-games [gameCount]="numGamesLeft"></rpsLG-num-games>
        </div>
        <div class="col-md-1 col-3">
            <span>Your Score</span>
            <rpsLG-score #yourScore [numWins]=yourScore.getWins() [numLosses]=yourScore.getLosses()>
            </rpsLG-score>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5  col-sm-12  offset-md-0  offset-xs-0 mt-4 ml-4 pl-4">
            <div class="row">
                <rpsLG-player-options style="pointer-events: none" #com [playButtonColor]="'5c6676'">
                </rpsLG-player-options>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-md-3 col-6 mx-2">
                    <h3>Com</h3>
                </div>
            </div>
        </div>
        <div class="col-md-5  col-sm-12  offset-md-2  offset-xs-0 mt-4">
            <div class="row">
                <rpsLG-player-options (clickedObjEvent)="handleObjClickedEvent($event)">
                </rpsLG-player-options>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-md-3 col-5 mx-2">
                    <h3>You</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4"></div>
    <div class="row my-4"></div>
</div>