.rock,
.paper,
.scissors {
  font-size: 5em;
  display: inline;
}

.rock {
  color: #c3b7b7;
}

.paper {
  color: white;
}

.scissors {
  color: #e92323;
}

.message,
.fun {
  font-size: 2.5em;
}

.fun {
  color: #f616d3;
}

.vertical-play-up {
  margin-left: -4ch;
  margin-top: -2ch;
  margin-bottom: -2ch;
}

@media (min-width: 800px) {
  .vertical-play-up {
    margin-left: -1ch;
    margin-top: -4ch;
    margin-bottom: -2ch;
  }
}

@media (min-width: 1750px) {
  .vertical-play-up {
    margin-left: -2.5ch;
    margin-top: -8ch;
    margin-bottom: -2ch;
  }
}

.img-fluid {
  box-shadow: 0px 10px #888888;
  border-radius: 50%;
}

@media (max-width: 700px) {
  .rock,
  .paper,
  .scissors {
    font-size: 3em;
    display: inline;
  }

  .message,
  .fun {
    font-size: 1.5em;
  }

  .join-button,
  .start-button {
    font-size: 1.5em;
  }
}
