.rock,
.paper,
.scissors {
  font-size: 5em;
  display: inline;
}

.rock:focus,
.paper:focus,
.scissors:focus {
}

.rock {
  color: #c3b7b7;
}

.paper {
  color: white;
}

.scissors {
  color: #e92323;
}

.message,
.fun {
  font-size: 2.5em;
}

.fun {
  color: #f616d3;
}

.img-fluid {
  box-shadow: 0px 10px #888888;
  background-color: white;
  padding: 2px;
  border-radius: 50%;
  width: 75%;
  height: 100%;
}

.img-fluid:hover {
  background-color: #2c7af0;
}

@media (max-width: 700px) {
  .rock,
  .paper,
  .scissors {
    font-size: 3em;
    display: inline;
  }
  .img-fluid {
    width: 50%;
  }

  .message,
  .fun {
    font-size: 1.5em;
  }

  .join-button,
  .start-button {
    font-size: 1.5em;
  }
}
