<div class="row">
    <div class="col-md-5  col-sm-10  offset-md-1  offset-xs-0 mt-4">
        <rpsLG-player-options></rpsLG-player-options>
    </div>
    <div class="col-md-6 mt-4">
        <div class="row">
            <div class="col">
                <span class="rock">ROCK, </span>
                <span class="paper">PAPER, </span>
                <span class="scissors">SCISSORS.</span>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-6 col-lg-6">
                <span class="message">Want to have </span><span class="fun">fun?</span>
            </div>
        </div>
        <div class="row my-sm-4"></div>
        <div class="row my-sm-4"></div>
        <div class="row mt-2">
            <div class="col-md-7 col-xl-6">
                <button [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                    class="start-button">Game No</button>
            </div>
        </div>
    </div>
</div>