<nav class="navbar navbar-expand-lg navbar-dark  my-3">
    <div class="container-fluid">
        <!--Logo-->
        <span class="logo">
            <img class="img-fluid" [src]="logoImgUrl" alt="LG Logo">
            <span class="navbar-brand game-font">Games</span>
        </span>

        <!--Toggle Button-->
        <button class="navbar-toggler nav-toggle-height" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--Conte here can be collapsed-->
        <div class="collapse navbar-collapse my-2" id="navbarToggle">
            <div class="container-fluid">
                <div class="row justify-content-end">
                    <div *ngFor="let navElt of navElements | keyvalue" class="col-md-1">
                        <button [routerLink]="[navElt.key]" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}" class="nav-element">{{navElt.value}}</button>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>