/* You can add global styles to this file, and also import other style files */
* {
  background: rgba(29, 50, 83, 1);
  font-family: Comfortaa, Arial, Helvetica, sans-serif;
}

html,
body {
  min-height: 100% !important;
  height: 100%;
  background: rgba(29, 50, 83, 1);
}

html,
body,
#fullheight {
  min-height: 100% !important;
  height: 100%;
}
#fullheight {
  background: rgba(29, 50, 83, 1);
}

.container-fluid {
  color: white;
}

.container {
  color: white;
}

.background-color {
  background: rgba(29, 50, 83, 1);
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
  background-color: black;
}

.active-link {
  color: burlywood;
}
