.get-num-games {
  padding: 4%;
  border-radius: 10px;
  box-shadow: 0px 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60em;
}

form,
.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.get-num-games,
button,
form,
label,
input,
.form-group {
  background-color: black;
  color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  background-color: black;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  background-color: black;
}

label {
  font-size: 2.5em;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 2%;
  align-self: center;
}

input[type="number"] {
  width: 50%;
  color: white;
  border: 3px solid #2c7af0;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 1);
  margin-bottom: 6%;
  align-self: center;
  text-align: center;
  font-weight: bold;
  font-size: 5ch;
}

.start-button {
  background-color: #2c7af0;
  width: 50%;
  align-self: center;
}

@media (max-width: 700px) {
  .start-button {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  label {
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  input[type="number"] {
    margin-bottom: 40px;
  }
}

@media (min-width: 1000px) {
  input[type="number"],
  .start-button {
    width: 30%;
  }
}
